In [11]:
def add_many(*args):
    result = 0
    for i in args:
        result += int(i)
    return result

In [12]:
print(add_many(1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9))

90

In [11]:
def add_mul(choice,*args):
    if choice == "add":
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

print(add_mul("add",1234,1234,2134))
print(add_mul("mul",123,4,5,213,123,213,))

4602
13727752020

In [8]:
print(1)

1

In [18]:
def print_kwargs(**kwargs):
    print(kwargs)

In [19]:
print_kwargs(name="JEONG",)

{'name': 'JEONG'}

In [20]:
def add_and_mul(a,b):
    return a+b,a*b

In [23]:
result,_ =add_and_mul(3,4)

In [24]:
print(result)

7

In [28]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s 입니다"%name)
    print("나의 나이는 %d 입니다"%old)
    if man:
        print("나는 남자입니다.")
    else:
        print("나는 여자입니다.")

In [29]:
say_myself("홍길동",23,False)

나의 이름은 홍길동 입니다
나의 나이는 23 입니다
나는 여자입니다.

In [30]:
a= 1
def vartest(a):
    a = a+1

vartest(a)
print(a)

1