In [42]:
a = 0o177
print(a)

127

In [46]:
7//3

2

In [47]:
7/3

2.3333333333333335

In [48]:
'hello'

'hello'

In [49]:
"hello"

'hello'

In [51]:
'''print
'''

'print\n'

In [52]:
print("hello는 '안녕'")

hello는 '안녕'

In [53]:
print("a는 \0000")

a는  0

In [54]:
"hi"+"python"

'hipython'

In [71]:
a = "Life is too short, You need Python"
len(a)
a[-8:]

'd Python'

In [72]:
a= 'pithon'

In [78]:
print("%-10s i eat %d apple"%("aaa",3))

aaa        i eat 3 apple

In [89]:
say ="{number:>20} i ead {day} aplles".format(number=111,day="20201010")
say

'                 111 i ead 20201010 aplles'

In [90]:
a = "hobby"

In [91]:
a.count("b")

2

In [92]:
type(a)

str

In [96]:
'bgh@naver.com'.count('@')

1

In [98]:
a = "Python is the best choice"
a

'Python is the best choice'

In [103]:
a.index("P")

0

In [117]:
a = ' '.join("abc")
a

'a b c'

In [118]:
a = "Python"
a.upper()

'PYTHON'

In [119]:
a.lower()

'python'

In [120]:
a=[1,2,3]

In [121]:
a[1]=4

In [122]:
a

[1, 4, 3]

In [124]:
a.find(1)

AttributeError: 'list' object has no attribute 'find'

In [125]:
a.index(1)

0

In [126]:
a.index(4)

1

In [127]:
a.remove(4)

In [128]:
a

[1, 3]

In [129]:
t1 =()
type(t1)

tuple

In [144]:
t2=(1,)

In [146]:
print(t2)
type(t2)

(1,)

tuple

In [147]:
dic = {'a':[1,2,3],2:[2,'tj']}

In [148]:
dic.items()

dict_items([('a', [1, 2, 3]), (2, [2, 'tj'])])

In [169]:
s1=set([1,2,3,3])

In [170]:
s1

{1, 2, 3}

In [157]:
s2=set("hello")
s2

{'e', 'h', 'l', 'o'}

In [171]:
l1=[1,2,3,4,5]
l2=[3,4,5,6,7]

In [173]:
totl=set(l1)&set(l2)

In [174]:
totl

{3, 4, 5}

In [175]:
s1.add(4)

In [176]:
s1

{1, 2, 3, 4}

In [177]:
s1.update([9,10,12])

In [178]:
s1

{1, 2, 3, 4, 9, 10, 12}

In [179]:
a=True

In [180]:
a

True

In [181]:
1==1

True

In [182]:
1=="1"

False

In [197]:
a=[1,2,3]

In [199]:
a = [1,2,3]
while a:
    print(a.pop())

3
2
1

In [200]:
if a:
    print("참")
else:
    print("거짓")

거짓

In [202]:
a=[1,2,3]

In [203]:
id(a)

2139113566792

In [210]:
b=[4,5,6]

In [205]:
id(b)

2139113648712

In [206]:
a=b

In [208]:
id(b),id(a)

(2139113648712, 2139113648712)

In [211]:
a is b

False

In [212]:
from copy import copy

In [214]:
a = copy(b)

In [215]:
a is b

False

In [216]:
a,b

([4, 5, 6], [4, 5, 6])

In [227]:
a,b,__ =(1,2,3)

In [230]:
a,b,_,_,

(1, 2, 3, 3, 3)

In [231]:
(a,b)="python","java"

In [236]:
type((a,b))

tuple

In [238]:
print((a,b))

('python', 'java')

In [239]:
a,b = b,a

In [ ]:
a,b